@page "/products"
@rendermode @(new InteractiveWebAssemblyRenderMode(false));

@using VintageCashCowTechTestUI.Client.Components;

<PageTitle>Products</PageTitle>

<h3>Products</h3>

<ProductList></ProductList>